@charset "UTF-8";
.btn-style {
  border: 1px solid;
  outline: none;
}
.times {
  width: 20rem;
  position: relative;
  text-align: right;
}
.nubank {
  background: #41699a;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  height: 12rem;
  max-width: 100%;
  padding: 1px;
  position: relative;
  width: 20rem;
}

.nubank__logo {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.25rem;
  position: relative;
}

.nubank__logo-n,
.nubank__logo-u {
  margin-right: 0.25rem;
}

.nubank__logo-n,
.nubank__logo-u,
.nubank__logo-text {
  height: 2.5rem;
  position: relative;
  width: 1.5rem;
}

.nubank__logo-u {
  transform: rotate(180deg);
}

.nubank__logo-large-curve,
.nubank__logo-small-curve,
.nubank__logo-large-curve::before,
.nubank__logo-small-curve::before {
  border: 0.0625rem solid #cba0d2;
  box-sizing: border-box;
  position: absolute;
}

.nubank__logo-small-curve {
  border-radius: 0.35rem 0.35rem 0 0;
  border-bottom-width: 0;
  bottom: 1rem;
  top: 0.375rem;
  width: 1rem;
}

.nubank__logo-large-curve {
  border-radius: 0.35rem 0.875rem 0 0;
  border-bottom-width: 0;
  bottom: 1rem;
  left: 0.425rem;
  top: 0rem;
  width: 1rem;
}

.nubank__logo-small-curve::before,
.nubank__logo-large-curve::before {
  border-radius: 0 0 0.0625rem 0.0625rem;
  border-top-width: 0;
  bottom: -0.5625rem;
  content: "";
  height: 0.75rem;
  width: 0.4875rem;
}

.nubank__logo-small-curve::before {
  left: -0.0625rem;
}

.nubank__logo-large-curve::before {
  right: -0.0625rem;
}

.nubank__logo-text-bank {
  bottom: 0.5rem;
  color: #cba0d2;
  line-height: 1;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  position: absolute;
}

.nubank__chip {
  background: linear-gradient(to bottom, #d5a984 0%, #c6935f 100%);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 1.875rem;
  overflow: hidden;
  position: relative;
  width: 2.625rem;
}

.nubank__chip-line {
  border: solid #673e17;
  display: inline-block;
  position: absolute;
}

.nubank__chip-line-top {
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3),
    2px 2px 0 0 rgba(255, 255, 255, 0.1);
  left: -2px;
  top: -2px;
}

.nubank__chip-line-bottom {
  bottom: -2px;
  box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.3),
    inset 2px 2px 0 0 rgba(255, 255, 255, 0.1);
  right: -2px;
}

.nubank__chip-line-a {
  border-radius: 0 0 10px 0;
  border-width: 0 1px 1px 0;
  height: 90%;
  width: 30%;
}

.nubank__chip-line-b {
  border-radius: 0 0 14px 0;
  border-width: 0 1px 1px 0;
  height: 35%;
  width: 75%;
}

.nubank__chip-line-c {
  border-radius: 10px 0 0 0;
  border-width: 1px 0 0 1px;
  height: 80%;
  width: 30%;
}

.nubank__chip-line-d {
  border-radius: 14px 0 0 0;
  border-width: 1px 0 0 1px;
  height: 30%;
  width: 60%;
}

.nubank__middle {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 1.625rem;
  position: relative;
}

.nubank__model {
  color: rgba(255, 201, 255, 0.8);
  font-family: "Share Tech Mono", monospace;
  flex: 1;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  padding-right: 2.625rem;
  text-align: center;
  text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.nubank__info {
  margin: 0.8125rem 2.4125rem 0 1.625rem;
  position: relative;
  z-index: 2;
}

.nubank__number,
.nubank__expiration,
.nubank__holder {
  color: #ecdcec;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 0.1em;
  line-height: 1;
  text-shadow: 0 -1px 0px rgba(155, 155, 155, 0.5), 0 1px 1px black;
}

.nubank__number {
  font-size: 1.2rem;
}

.nubank__details {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Arial", sans-serif;
  font-size: 0.5125rem;
  font-weight: bold;
  line-height: 1;
  margin: 0.175rem 0 0.375rem;
}

.nubank__details-4-digits {
  display: inline-block;
  text-align: center;
  width: 2.75rem;
}

.nubank__details-expiration {
  display: inline-block;
  margin-left: 1.6125rem;
}

.nubank__expiration {
  display: flex;
  flex-direction: row;
  font-size: 0.8125rem;
  justify-content: space-around;
  margin-bottom: 0.6125rem;
  width: 66%;
}

.nubank__holder {
  font-size: 0.8125rem;
}

.nubank__security {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  bottom: 1.275rem;
  padding: 0.25rem;
  position: absolute;
  right: 1rem;
  z-index: 1;
}

.nubank__seal {
  background: repeating-linear-gradient(
    0,
    #d8d2db,
    #d8d2db 5px,
    #cccccc 5px,
    #cccccc 6px
  );
  border-radius: 1.5rem;
  height: 3.25rem;
  margin-bottom: 0.25rem;
  position: relative;
}

.nubank__seal::before,
.nubank__seal::after {
  color: #aaa;
  content: "";
  font-family: "FontAwesome", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  opacity: 0.5;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.nubank__seal::before {
  left: 35%;
}

.nubank__seal::after {
  left: 65%;
}

.nubank__master {
  height: 2.75rem;
  position: relative;
  width: 4.5rem;
}

.nubank__master-left,
.nubank__master-right,
.nubank__master-center {
  border-radius: 100%;
  display: inline-block;
  height: 2.75rem;
  position: absolute;
  top: 0;
  width: 2.75rem;
}

.nubank__master-left {
  background: #ea001b;
  left: 0;
  z-index: 2;
}

.nubank__master-right,
.nubank__master-center {
  background: #f79f1a;
  right: 0;
}

.nubank__master-right {
  z-index: 1;
}

.nubank__master-center {
  opacity: 0.6;
  z-index: 3;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.credits {
  color: #666;
  font: 1rem "Ubuntu Condensed";
  margin-top: 2rem;
}
.credits .red {
  color: #cc0000;
}
.credits a {
  color: #ccc;
  text-decoration: none;
}
.times {
  width: 20rem;
  position: relative;
  text-align: right;
}
