<div class="mt-3" style="display: flex; justify-content: center;">
  <button class="btn btn-md btn-style" routerLink="/card">Add More Cards &nbsp;
    <i class="fas fa-plus" style="cursor: pointer;font-size: 12px;"></i>
  </button>
</div>
<div class="container-fluid mt-5" *ngIf="carddetails">
  <div class="row">
    <div class="col-md" *ngFor="let card of carddetails | async; let i=index ">

      <div class="times">
        <i (click)="delCard(i)" class="fas fa-times" style="cursor: pointer;"></i>
      </div>

      <div class="nubank">

        <div class="nubank__logo">

          <!-- <h3>Gambeet Group</h3> -->
          <h5>${{card.amount}}</h5>
        </div>
        <div class="nubank__middle">
          <div class="nubank__chip">
            <span class="nubank__chip-line nubank__chip-line-top nubank__chip-line-a"></span>
            <span class="nubank__chip-line nubank__chip-line-top nubank__chip-line-b"></span>
            <span class="nubank__chip-line nubank__chip-line-bottom nubank__chip-line-c"></span>
            <span class="nubank__chip-line nubank__chip-line-bottom nubank__chip-line-d"></span>
          </div>
          <div class="nubank__model">cvv {{card.cvv}}</div>
        </div>
        <div class="nubank__info">
          <div class="nubank__number">{{ card.cardNo }}</div>
          <div class="nubank__details">
            <span class="nubank__details-4-digits" style="font-size: 13px; color: black;">{{ card.expiry}}</span>
            <span class="nubank__details-expiration" style="font-size: 13px; color: black;">Valid thru</span>
          </div>
          <div class="nubank__expiration">
            <!-- <span class="nubank__expiration-issued">{{ issued }}</span>
            <span class="nubank__expiration-thru">{{ expiration }}</span> -->
          </div>
          <div class="nubank__holder">{{card.cardHolder |uppercase }}</div>
        </div>
        <div class="nubank__security">
          <div class="nubank__seal"></div>
          <div class="nubank__master">
            <span class="nubank__master-left"></span>
            <span class="nubank__master-right"></span>
            <span class="nubank__master-center"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="!carddetails|async">
  <p>No Records
  </p>
</div> -->
